<table>
  <thead>
  <tr>
    <th>Rank</th>
    <th>Team Name</th>
    <th>Games</th>
    <th>Points</th>
    <th>Goals Shot</th>
    <th>Goals Conceded</th>
    <th>Difference</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rank of ranks">
    <td>{{ rank.rank }}</td>
    <td>{{ getTeamName(rank.teamID) }}</td>
    <td>{{ rank.games }}</td>
    <td>{{ rank.points }}</td>
    <td>{{ rank.goalsShot }}</td>
    <td>{{ rank.goalsConceded }}</td>
    <td>{{ rank.goalsShot - rank.goalsConceded }}</td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Datum</th>
    <th>Gespielt</th>
    <th>Heim</th>
    <th>Ergebnis</th>
    <th>Gast</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let result of games">
    <td>{{ result.id }}</td>
    <td>{{ result.start | date: 'dd.MM.yyyy - HH:mm'}}</td>
    <td>{{ result.played }}</td>
    <td>{{ getTeamName(result.homeTeamID)}}</td>
    <td>{{ result.homeGoals + ":" + result.guestGoals }}</td>
    <td>{{ getTeamName(result.guestTeamID) }}</td>
  </tr>
  </tbody>
</table>
