
<!DOCTYPE html>
<html>
<head>
  <title>Vereinsmanager</title>

</head>
<body>
<header class="header">
  <a class = "logo" href="#"><h1>Vereinsmanager</h1></a>
  <nav>
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="/players">Spieler</a></li>
      <li><a href="/jerseys">Trikots</a></li>
      <li><a href="#">Platz</a></li>
      <li><a href="#">Angebote</a></li>
      <li><a href="/persons">Verantwortliche</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  Vereinsmanager v0.1
  <div align="right">Janick Kaltenmark - KalDev &copy;</div>
</footer>
