<!DOCTYPE html>
<html>
<head>
  <title>Vereinsmanager</title>
</head>
<body>
<div class="content">
  <div class="column" onclick="location.href='/players'">
    <h2>Spieler</h2>
    <div *ngIf="players!.length > 0; else noPlayers">
      {{ players!.length }} Spieler und Spielerinnen gefunden.
    </div>

    <ng-template #noPlayers>
      Keine Einträge gefunden.
    </ng-template>
  </div>
  <div class="column" onclick="location.href='/jerseys'">
    <h2>Trikots</h2>
    <div *ngIf="jerseys!.length > 0; else noJerseys">
      {{ jerseys!.length }} Trikotsätze gefunden.
    </div>

    <ng-template #noJerseys>
      Keine Trikotsätze gefunden.
    </ng-template>
  </div>
  <div class="column" onclick="location.href='#'">
    <h2>Trainings- und Spielstätten</h2>
  </div>
  <div class="column" onclick="location.href='bookings'">
    <h2>Platz-Buchungen</h2>
  </div>
  <div class="column" onclick="location.href='#'">
    <h2>Angebote</h2>
  </div>
  <div class="column" onclick="location.href='persons'">
    <h2>Personen</h2>
    <div *ngIf="persons!.length > 0; else noPersons">
      {{ players!.length }} Verantwortliche gefunden.
    </div>

    <ng-template #noPersons>
      Keine Einträge gefunden.
    </ng-template>
  </div>

</div>
</body>
</html>
