<!DOCTYPE html>
<html>
<head>
  <title>Vereinsmanager</title>
</head>
<body>
<div class="content">
  <div class="row">
    <div class="column right" >
      <div class="column segment" style="background-color: rgba(170, 170, 170, 0.75);">
        <h2>Datenpflege</h2>
        <form method="post" action="http://localhost:8080/persons/add" target="_self">
          <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
          </div>

          <div>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname">
          </div>
          <div>
            <label for="street" >Street:</label>
            <input type="text" id="street" name="street">
          </div>

          <div>
            <label for="housenumber">House Number:</label>
            <input type="text" id="housenumber" name="housenumber">
          </div>

          <div>
            <label for="city" >City:</label>
            <input type="text" id="city" name="city">
          </div>

          <div>
            <label for="postalCode">Postal Code:</label>
            <input type="text" id="postalCode" name="postalCode">
          </div>

          <div>
            <label for="mailAdress">Email:</label>
            <input type="email" id="mailAdress" name="mailAdress">
          </div>

          <div>
            <label for="telephone">Telephone:</label>
            <input type="tel" id="telephone" name="telephone" >
          </div>
          <div>
            <label for="role">Telephone:</label>
            <input type="text" id="role" name="role" >
          </div>
          <input type="submit" value="Submit">
        </form>



      </div>
      <div class="column segment" style="background-color: rgba(170, 170, 170, 0.75);">
        <div class="row">
          <h2>Verantwortliche</h2>
          <table>
            <thead>
            <tr>
              <th>ID</th>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Straße</th>
              <th>Ort</th>
              <th>E-Mail</th>
              <th>Telefon</th>
              <th>Rolle</th>
              <th>Löschen</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of persons">
              <td>{{ person.id}}</td>
              <td>{{ person.firstname}}</td>
              <td>{{ person.lastname}}</td>
              <td>{{ person.street + " " + person.housenumber }}</td>
              <td>{{ person.postalCode + " " + person.city }}</td>
              <td><a href="mailto:{{ person.mailAdress }}">{{ person.mailAdress }}</a></td>
              <td>{{ person.telephoneNumber }}</td>
              <td>{{ person.role }}</td>
              <td><button (click)="deletePerson(person.id)">&#x1F5D1;</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>

